* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
}

.main {
    text-align: center;
}

.main h1 {
    padding: 20px 0;
}

.main h1 a{
    color: red;
    
}

.main i {
    font-size: 70px;
    color: red;
}

.main .option button {
    padding: 10px 30px;
    margin: 0 40px;
    outline: none;
    border: none;
    background-color: rgb(233, 217, 217);
    font-size: 16px;
}

.main .option button:hover {
    transform: scale(1.1);
}

.main .option button:first-child {
    color: red;
}

.main .option button:last-child {
    color: green;
    position: relative;
    z-index: 10;
}

.main .back {
    position: absolute;
    top: 20px;
    left: 60px;
    font-size: 50px;
    color: #333;
}