/* tablet & mobile */
@media (max-width: 1023px) {
    .navbar {
        display: none;
    }
    .menu {
        display: block;
    }

    .banner img {
        width: 100%;
    }

    .sub-banner img{
        width: 100%;
    }

    .header-bottom {
        height: unset;
        padding: 0 20px;
    }
    .header-bottom-logo {
        display: flex;
        justify-content: center;
        padding: 25px 0;
    }
    .header-bottom-cart {
        margin-top: 34px;
        height: unset;
        padding-bottom: 15px;
    }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .header-top {
        padding: 0 20px;
    } 

    .wrap-navbar .grid.wide {
        max-width: unset;
        width: unset;
    }
    .service-item {
        margin-left: 200px;
        max-width: 350px;
        padding: 20px 0;
    }
    .introduce {
        text-align: center;
    }

}

/* mobile */
@media(max-width: 739px) {
    .category {
        display: none;
    }
    .header-top {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .header-top__list {
        margin: 0 auto;
    }
    .header-top::before {
        content: "";
        position: absolute;
        border-top: 1px solid white;
        width: 100%;
        top: 50%;
    }
    .product-top-category {
        flex-direction: column;
    }
    .product-top-category__list {
        flex-wrap: wrap;
    }
    .product-top-category__title {
        padding-left: 10px;
    }
    .product-top-category__title::before {
        border-bottom: unset;
    }
    .product-bottom-category {
        padding-left: 10px;
    }
    .product-bottom-category__list {
        flex-wrap: wrap;
    }
    .product-bottom-category__item.product-bottom-category__item--active::before {
        border-bottom: unset;
    }
    .sub-banner,
    .banner {
        padding: 0 15px;
    }
    .service-item {
        margin-left: 50px;
        max-width: 350px;
        padding: 20px 0;
    }
    .introduce {
        text-align: center;
    }
    .introduce-list {
        margin-bottom: 25px;
    }
    .license {
        flex-direction: column;
    }
    .license-left-special {
        margin-left: 10px;
    }
}

/* tablet pro */
@media (min-width: 1024px) and (max-width: 1366px) {
    .banner img {
        width: 100%;
    }
    .sub-banner img{
        width: 100%;
    }
    .category-title {
        display: flex;
        align-items: center;
    }
    .service-item__logo {
        margin-right: 5px;
    }
    .service-item__logo img {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 568px) {
    .service-item {
        margin-left: 10px;
    }
    .product-top-category {
        flex-direction: row;
    }
    .product-top-category__list {
        flex-direction: column;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    .license-right__list {
        flex-wrap: wrap;
    }
}
