/*
    PC: >=1024px
    tablet: >=740px & <=1023px
    mobile: <=739px 
*/
/* mobile & tablet */
@media (max-width: 63.9375em){
    .mo-ta-padding-14{
        padding: 14px;
    }
    .socials-list{
        font-size: 48px;
    }
    .socials-list a{
        margin: 0px 8px;
    }
    .contact-form .form-control{
        padding: 14px;
    }
    .coppyright a{
        padding: 12px 0px;
        display: inline-block;
    }
}

/* mobile */
@media (max-width: 46.1875em){
    /* common */
    .mobile-full-width,
    .mobile-column-full{
        width: 100%;
    }
    .mobile-mt-8{
        margin-top: 8px;
    }
    /* endcommon */

    #header{
        overflow: hidden;
    }
    #header .mobile-menu-btn{
        display: block;
    }
    #header .search-btn{
        display: none;
    }
    #nav{
        display: block;
    }
    #nav > li{
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav{
        position: inherit;      /* để giá trị mặc định cho position*/
        background-color: #333;
    }  
    #nav .subnav li a{
        color: white;
        padding: 5px 41px;
    }
    #content .member-avt{
        width: 60%;
    }
    .contact-form{
        margin-top: 16px;
    }
}